* {
	margin: 2;
	padding:1;
      }
      
      /* Header */
      .header__left h2 {
	color:rgb(26, 27, 29);
	margin-left: 60px;
	cursor: pointer;
      }
      
      .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
      }
      
      .header__middle {
	
	display: block;
	flex: 0.7;
	background-color: whitesmoke;
	padding: 6px;
	border-radius: 6px;
      }
      
      .header__middle input {
	
	border: none;
	width: 100%;
	padding: 6px;
	font-size: medium;
	background-color: transparent;
      }
      
      .header__right {
	display: flex;
	padding-right: 20px;
      }
      
      .header__right{
	cursor: pointer;
      }
      .header__right span:hover .logout {
	display: block;
      }
      
      /* Sidebar */
      .sidebar {
	flex: 0.3;
	max-width: 300px;
	padding-right: 20px;
      }
      
      .sidebar__compose {
	margin-top: 35px;
	padding-bottom: 1cm;
	margin-left: 45px;
	text-transform: capitalize;
	padding: 15px;
	border-radius: 30px;
	background-color: white;
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 5px -2px black;
      }
         
   
      /* main body */
      .main__body {
	display: flex;
	height: 100vh;
      }
      
      body {
	height: 100vh;
      }
      
      /* email list */
      .emailList {
	flex: 1;
	overflow: scroll;
      }
      .section__selected {
	background-color: whitesmoke;
	padding: 5;
	border-width: 3px;
	color: red;
	border-bottom: 3px solid red;
      }
      tr.border-bottom td {
        border-bottom: 1pt solid black;
      }
      

      .section h4  {
	font-size: 15px;
	margin-left: 15px;
	padding: 10;
	cursor: pointer;
      }
      .sidebarOption {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px ;
	margin-left: 0;
	cursor: pointer;
	color: #818181;
	border-top: 1px black;
	border-bottom: 1px solid black;
      }
      
      
      
      .sidebarOption h3 {
	flex: 1;
	margin-left:5px;
	font-size:20px;
	font-weight: 400;
      }
           
      .emailRow {
	display: flex;
	align-items: center;
	height: 50px;
	border-bottom: 1px solid whitesmoke;
	cursor: pointer;
      }
      
      .emailRow:hover {
	border-top: 1px solid whitesmoke;
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
      }      
      .emailRow__message h4{
	font-size: 11.5px;
	color: darkgray;
      }
      .userName{
	font-size: 13px;
	/* flex: 0.3; */
      }
      
      
      
      
      